//Brand Colours
$navy-blue: #00212F;
$lime: #CCDC44;
$darker-lime: #6b7130;

//Dimension Colours
$purple: #702B83;
$yellow: #FBE853;
$pink: #F35C5F;
$orange: #FDB732;
$red: #EE2830;
$blue: #33C3E2;

$grey: #b3b3b3;
$light-grey: #d6d6d6;
