//Brand Colours
$navy-blue: #00212F;

$lime: #CCDC44;
$darker-lime: #6b7130;

//Dimension Colours
$purple: #702B83;
$darker-purple: #5d236d;

$yellow: #FBE853;
$darker-yellow: #b3a640;

$pink: #F35C5F;
$darker-pink: #c14b4e;

$orange: #FDB732;
$darker-orange: #c18c27;

$red: #EE2830;
$darker-red: #b92329;

$blue: #33C3E2;
$darker-blue: #2ca3bd;


$grey: #b3b3b3;
$light-grey: #d6d6d6;
