@import "./_colours";

.index-header {
  margin-bottom: 40px !important;
}

.sub-page-link {
  font-size: 22px;
  text-align: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.white-button {
  display: block !important;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.return-to-form {
  margin-bottom: 30px;
}

.big6-page-header {
  color: #CCDC44;
  font-size: 36px;
  text-align: center;
  margin-bottom: 25px;
  font-weight: 700;
}

.sub-page-header {
  font-size: 22px;
  text-align: center;
  margin-bottom: 20px;
}
