@import "./_colours";

.divider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider-line {
  height: 1px;
  background-color: white;
  flex: 1;
}

.divider-middle {
  background-color: $lime;
  margin: 0 23px;
  color: black;
  padding: 7px 20px;
  border-radius: 11px;
}
