@import "./_colours";


.focus-on-icons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 95%;
  margin: auto;

  .purple { color: $purple; }
  .yellow { color: $yellow; }
  .pink { color: $pink; }
  .orange { color: $orange; }
  .red { color: $red; }
  .blue { color: $blue; }

}

.focus-on-icon {
  display: inline-block;
  width: 120px;
  text-align: center;

  img {
    width: 100px;
    margin-bottom: 13px;
  }
  
  p { 
    color: inherit;
    font-size: 14px;
    line-height: 20px;
  }
}
