@import "./_colours";

.form-selection {
  border: 1px solid $grey;
  border-radius: 3px;
  font-size: 13px;
  display: flex;
  box-sizing: border-box;
}

.form-selector {
  flex: 1;
  text-align: center;
  padding: 7.5px 5px;
  border-right: 1px solid $grey;
  color: $grey;
  box-sizing: border-box;
  cursor: pointer;
}

.form-selector:last-child {
  border-right: 0px solid $grey;
}

.form-selector-selected {
  background-color: $grey;
  color: $navy-blue;
}
