@import "./_colours";

.form-intro-text {
  margin-bottom: 30px;
}

.step-1-divider {
  margin-bottom: 30px;
}

.section-header-1 {
  margin-bottom: 30px;
}

.form-element-container {
  margin-bottom: 40px;
}

.step-2-divider {
  margin-bottom: 30px;
}

.section-header-2 {
  margin-bottom: 30px;
}

.section-two-text {
  margin-bottom: 30px;
}

.step-3-divider {
  margin-bottom: 30px;
}

.section-header-3 {
  margin-bottom: 30px;
}

.section-three-text {
  margin-bottom: 30px;
}
