@import './_colours';

.page {
  border: 1px solid white;
  max-width: 650px;
  box-sizing: border-box; 
  margin: auto;
  padding: 50px;
}

.form {
  text-align: center;
}

.large-header {
  color: $lime;
  font-size: 38px;
  text-align: center;
  margin-bottom: 30px;
}

.section-header {
  font-size: 26px;
  text-align: center;
}

.body {
  color: white;
  text-align: center;
}
