@import './_colours';
@import './_breakpoints';

.page {
  border: 1px solid white;
  max-width: 650px;
  box-sizing: border-box; 
  margin: auto;
  padding: 50px;
  border-radius: 4px;
  @media screen and (max-width: $mobile-break) {
      border: none;
      border-top: 1px solid white;
      padding: 30px;
      border-radius: 0px;
    }
}
