@import "./_colours";

.results-table {
  margin-bottom: 27px;

  .row {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid $grey;
  }

  .title-row {
    .column2 {
      background-color: transparent;
      color: white
    }
  }

  .lime-row {
    border-top: 2px solid $grey;
  }

  .name {
    margin-right: auto;
    margin-left: 10px;
  }

  .column {
    width: 70px;
    text-align: center;
    padding: 10px 0;
  }

  .column2 {
    background-color: $lime;
    color: black;
  }

  .purple-name {
    color: $purple;
  }

  .yellow-name {
    color: $yellow;
  }

  .pink-name {
    color: $pink;
  }

  .orange-name {
    color: $orange;
  }

  .red-name {
    color: $red;
  }

  .blue-name {
    color: $blue;
  }

  .lime-name {
    color: $lime;
  }

}

