@import "./_colours";
@import "./_breakpoints";

.results-table {
  margin-bottom: 27px;
  font-size: 14px;
  font-weight: 300;
  
  .row {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid $grey;
  }

  .title-row {
    font-weight: 400;

    .column2 {
      background-color: transparent;
      color: white;
      font-weight: 400;
    }
  }

  .lime-row {
    border-top: 2px solid $grey;
  }

  .name {
    margin-right: auto;
    margin-left: 10px;
    @media screen and (max-width: $mobile-break) {
      width: 200px;
    }
  }
  
  .column {
    width: 70px;
    text-align: center;
    padding: 10px 0;   
  }

  .column2 {
    background-color: $lime;
    color: black;
    font-weight: 600;
  }

  .purple-name {
    color: $purple;
  }

  .yellow-name {
    color: $yellow;
  }

  .pink-name {
    color: $pink;
  }

  .orange-name {
    color: $orange;
  }

  .red-name {
    color: $red;
  }

  .blue-name {
    color: $blue;
  }

  .lime-name {
    color: $lime;
  }

}