@import "./_colours";

.score-card-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;

  .highlighted {
    background-color: $lime;
    border-color: $lime;

    .numerator, .name {
      color: $navy-blue;
    }

    .tooltip i {
      color: $darker-lime;
    }
   }
}

.score-card {
  border: 1px solid $grey;
  margin: 0 20px;
  flex: 1;
  padding: 14px 16px;
  border-radius: 4px;
  font-weight: 600;

  .tooltip {
    margin-left: 6px;
    position: relative;
    bottom: 2px;
  }

  .name {
    display: inline-block;
    color: white;
    margin-bottom: 49px;
    font-size: 20px;
  }

  .numerator {
    color: $lime;
    text-align: right;
    font-size: 33px;
  }

  .denominator {
    color: $darker-lime;
    text-align: right;
    font-size: 25px;
  }
}

.score-card:first-child {
  margin: 0 10px 0 0;
}

.score-card:last-child {
  margin: 0 0 0 10px;
}


