@import "./_colours";

.slider {
  height: 8px;

  .bar-1 {
    height: 8px;
    background-color: white;
  }

  .handle {
    background-color: #dadada;
    height: 15px;
    width: 10px;
    top: -4px;
  }

}


.purple-slider {
  background-color: $purple;
}

.yellow-slider {
  background-color: $yellow;
}

.pink-slider {
  background-color: $pink;
}

.orange-slider {
  background-color: $orange;
}

.red-slider {
  background-color: $red;
}

.blue-slider {
  background-color: $blue;
}

.lime-slider {
  background-color: $lime;
}
