@import "./_colours";

.sliders {
  margin-bottom: 60px;

  .purple-slider {
    background-color: $purple;
  }

  .yellow-slider {
    background-color: $yellow;
  }

  .pink-slider {
    background-color: $pink;
  }

  .orange-slider {
    background-color: $orange;
  }

  .red-slider {
    background-color: $red;
  }

  .blue-slider {
    background-color: $blue;
  }

  .lime-slider {
    background-color: $lime;
  }
}

.slider-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 25px;

  .slider-title {
    margin-bottom: 15px;
    margin-right: 8px;
  }
  .tooltip {
    margin-right: auto;
    position: relative;
    top: 3px;
  }
}

.slider-number {
  .denominator {
    color: $grey;
  }
}

.slider {
  height: 10px;
  flex: 100%;
  border-radius: 3px;

  .bar-1 {
    height: 10px;
    background-color: white;
    border-radius: 0 3px 3px 0;
  }

  .handle {
    cursor: pointer;
    background-color: #dadada;
    height: 17px;
    width: 9px;
    top: -4px;
    border-radius: 4px;
  }
}
