@import "./_colours";
@import './_breakpoints';

.video-page {
  .purple { 
    color: $purple;
    a { 
      color: $purple;
      &:hover { color: $darker-purple; }
    }
   }

  .yellow { 
    color: $yellow;
    a { 
      color: $yellow;
      &:hover { color: $darker-yellow; }
    }
   }

  .pink { 
    color: $pink;
    a { 
      color: $pink;
      &:hover { color: $darker-pink; }
    }
   }

  .orange { 
    color: $orange;
    a { 
      color: $orange;
      &:hover { color: $darker-orange; }
    }
   }

  .red { 
    color: $red;
    a { 
      color: $red;
      &:hover { color: $darker-red; }
    }
   }

  .blue { 
    color: $blue;
    a { 
      color: $blue;
      &:hover { color: $darker-blue; }
    }
   }

  .lime { 
    color: $lime;
    a { 
      color: $lime;
      &:hover { color: $darker-lime; }
    }
   }

  .body {
    font-size: 16px;
    margin-bottom: 20px;

    span {
      font-weight: 600;
    }
  }

}

.video-index-wrapper {
  .icon {
    width: 50%;
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 20px;
    cursor: pointer;
  }

  img {
    width: 100%;
  }

  .title {
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 15px;
  }
}

.video-wrapper {
  text-align: center;

  .white-button {
    margin-bottom: 25px;
    padding: 10px 33px;
  }

  .video-header {
    font-size: 31px;
    font-weight: 700;
    margin-bottom: 40px;
  }

  .small-green-header {
    color: $lime;
    font-size: 22px;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .videoWrapper {
    margin-bottom: 30px;

    iframe {
      height: 360px;
    }
  }
}

@media screen and (max-width: $mobile-break) {
  .video-index-wrapper {
    .icon {
      width: 100%;
    }
  }
}

